@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-image: url('');
    color:#fff;
    font-family: 'Muli',sans-serif;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /*only work if height is set */
    height:100vh;
    overflow: hidden;


}
.container{
    background-color: rgba(0,0,0,0.4);
    margin:5px;
    /* padding:20px 40px; */
    padding-bottom: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right:10px;
    min-width:250px;
    max-width: 380px;
    width:80vw;
}
.container h1{
    text-align: center;
    margin-top: 30px;
}
.btn{
    cursor: pointer;
    display: inline-block;
    width:100%;
    background: lightblue;
    padding:15px;
    font-family: inherit;
    font-size: 16px;
    border:0;
    text-align: center;
    border-radius: 5px;
    color:black;
}
.btn:focus{
    outline:0;
}
.btn:hover{
    transform: scale(0.98);
}
.btn:active{
    transform: scale(0.98);
}
.container h1{
    text-align: center;
    margin-top: 30px;
}
.container a{
    text-decoration: none;
    color:lightblue;
}
.form-control{
    position: relative;
    margin:20px auto;
    width:90%;

}
.form-control.block{
    display: flex;
    flex-direction: row;

    width:90%;
    justify-content: space-between;

}
.form-control-inside{
    position: relative;
    width:50%;
}

.form-control-inside input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px white solid;
    display: block;
    width:95%;
    padding:15px 0;
    font-size:18px;
    color:transparent;
    text-decoration: none;
    /* max-height: 26px;
    height: 26px; */
    /* margin: 2px; */
    transition: color 1.5s ease;
}

input:focus{
    outline: 0;
}
.form-control select{
    background-color: transparent;
    border: 0;
    border-bottom: 2px white solid;
    display: block;
    width:100%;
    padding:15px 0;
    font-size:18px;
    color:#fff;

}
.form-control option{
    background-color: #2a4e6c;
    border:0;


}
.form-control select:focus{
    outline: 0;
}
.form-control label{
    position:absolute;
    top:15px;
    left:0;
}.form-control-inside label{
    position: absolute;
    top:15px;
    left:0;
}
.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width:5px;
    transition:0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55 ) ;

}
.active{
    color:lightblue;
    transform:translateY(-30px);
}