<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Feedback Report</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="shortcut icon" href="../static/feedback.png" type="image/x-icon" />
        <style>
            img{
                width:975px;
                min-width: 600px;
                height:auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body>
        <img src="../static/nodata.gif" alt="No Record Found">
    </body>
</html>
