<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Cleanliness</th>
      <th>Water Supply</th>
      <th>Light Condition</th>
      <th>Smell</th>
    </tr>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Block 2 Floor 2 female staff</th>
      <td>2</td>
      <td>2.5</td>
      <td>2.3</td>
      <td>2.2</td>
    </tr>
    <tr>
      <th>Block 2 Floor 1 male staff</th>
      <td>2.5</td>
      <td>1.5</td>
      <td>1.5</td>
      <td>1.4</td>
    </tr>
    <tr>
      <th>Block 1 Ground female staff</th>
      <td>2.6</td>
      <td>2.3</td>
      <td>2.4</td>
      <td>1.9</td>
    </tr>
    <tr>
      <th>Block 1 Ground male staff</th>
      <td>2.8</td>
      <td></td>
      <td></td>
      <td>2.6</td>
    </tr>
    <tr>
      <th>Block 1 Floor 1 male staff</th>
      <td>2.9</td>
      <td>2.1</td>
      <td>2</td>
      <td>2.2</td>
    </tr>
    <tr>
      <th>Block 2 Floor 1 female staff</th>
      <td></td>
      <td>2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Block 2 Floor 2 male staff</th>
      <td></td>
      <td>2</td>
      <td></td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>Block 3 Floor 3 male staff</th>
      <td></td>
      <td>2</td>
      <td></td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>Block 1 Floor 2 male staff</th>
      <td></td>
      <td>2.5</td>
      <td>2.8</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>Block 3 Ground male staff</th>
      <td></td>
      <td>2.5</td>
      <td>2.5</td>
      <td></td>
    </tr>
    <tr>
      <th>Block 3 Floor 3 female staff</th>
      <td></td>
      <td>2.7</td>
      <td></td>
      <td>2.8</td>
    </tr>
    <tr>
      <th>Block 1 Floor 1 female staff</th>
      <td></td>
      <td>2.9</td>
      <td></td>
      <td>2.1</td>
    </tr>
    <tr>
      <th>Block 1 Floor 2 female staff</th>
      <td></td>
      <td></td>
      <td>1</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>Block 2 Floor 3 female staff</th>
      <td></td>
      <td></td>
      <td>2</td>
      <td></td>
    </tr>
  </tbody>
</table>