<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Feedback Report</title>

  <link rel="shortcut icon" href="../static/feedback.png" type="image/x-icon" />
  <link rel="stylesheet" href="../static/style2.css" />
</head>

<body>
  <script>
    alert("{{message}}");
  </script>
  <div class="container">
    <div class="heading">
      <h1>Results</h1>
      <h2>{{title}}</h2>
      <h4>
        From: {{dates[0]}} ➤ End: {{dates[1]}} &nbsp;&nbsp; (yyyy-mm-dd)
      </h4>
    </div>
    <div class="row1">
      <div class="panel" style="
            background-image: url('https://media.istockphoto.com/photos/an-employee-pulls-a-trolley-for-cleaning-offices-woman-cleaner-is-in-picture-id1316473356?b=1&k=20&m=1316473356&s=170667a&w=0&h=7nYl9IEj2K_MsU4Z0BMVRmhGygh9Nx6vkpVDIvGGHMA=');
          ">
        <h3>Cleanliness</h3>
      </div>
      <div class="panel" style="
            background-image: url('https://images.unsplash.com/photo-1517646287270-a5a9ca602e5c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRhcCUyMHdhdGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');"
      ><h3>Water Supply</h3>
      </div>
      <div class="panel" style="
            background-image: url('https://media.istockphoto.com/photos/power-saving-concept-asia-man-changing-compactfluorescent-bulbs-with-picture-id1061085528?b=1&k=20&m=1061085528&s=170667a&w=0&h=W99K7HV2vPUEO7scjS0gADMLhrZ9Jf958zmZcLRXsVw=');
          ">
        <h3>Light Condition</h3>
      </div>
      <div class="panel" style="
            background-image: url('https://media.istockphoto.com/photos/bad-smell-or-odor-from-air-conditioner-picture-id1250690129?b=1&k=20&m=1250690129&s=170667a&w=0&h=FAhJ3yvjpZyKTxrskGkUsLUZ9GtpTAYTsfVfGSPhM1o=');
          ">
        <h3>Smell</h3>
      </div>
    </div>
    <div class="displaychart"></div>
    <div class="row2">
      <div class="buttons">
        <button id="button1">Show All</button>
        <button id="button2">Require Attention</button>
      </div>
      <div id="resall" class="hide">
        {% for i in range(0 , 4) %}
        <figure>
          <img src="../static/plot{{i}}.jpg" alt="plot" />
          <figcaption>{{ text[i] }}</figcaption>
        </figure>
        {% endfor %}
      </div>
      <div id="table" class="hide">{{html}}</div>
    </div>
  </div>

  <script src="../static/script.js"></script>
</body>

</html>
<!--<script>alert("{{msg}}")</script>-->